<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--   Navbar   -->
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12 bg-dark text-white">
            <nav class="navbar navbar-dark bg-dark">
            <span>
                <span class="navbar-text-white font-weight-bolder">
                    <span th:text="${#authentication.name}"></span>  with roles: <span
                        th:each="role : ${#authentication.authorities}"
                        th:text="${role.getAuthority().replace('ROLE_',' ')}">[ROLE_ADMIN, ROLE_USER]</span>
                </span>
            </span>
                <a class="navbar-text text-white-50 nav-link m-0" href="/logout">Logout</a>
            </nav>
        </div>
    </div>
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <!--   Left sidebar  -->
            <div class="col-2 px-lg-0 bg-white">
                <br>
                <ul class="nav nav-pills flex-column">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin">Admin</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <div class="container secondary col-sm-10 px-0">
                <div class="col-12 bg-light vh-100">
                    <br>
                    <div><h1>Admin panel</h1>
                        <br>
                        <div class="card">
                            <!--   Nav tabs   -->
                            <ul class="nav nav-tabs"
                                id="testTab"
                                role="tablist">
                                <li class="nav-item"
                                    role="presentation">
                                    <a class="nav-link active"
                                       id="admin-tab"
                                       data-toggle="tab"
                                       href="#admin"
                                       role="tab"
                                       aria-controls="admin"
                                       aria-selected="true">User table</a>
                                </li>
                                <li class="nav-item"
                                    role="presentation">
                                    <a class="nav-link"
                                       id="new-tab"
                                       data-toggle="tab"
                                       href="#new"
                                       role="tab"
                                       aria-controls="new"
                                       aria-selected="false">New User</a>
                                </li>
                            </ul>
                            <!--   Table   -->
                            <div class="tab-content" id="testTabContent">
                                <div class="tab-pane fade show active" id="admin" role="tabpanel"
                                     aria-labelledby="admin-tab">
                                    <div><h5 class="card-header">All users</h5>
                                        <br>
                                        <div class="tab-content">
                                            <div class="container-fluid">
                                                <table class="table table-striped table-condensed">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Age</th>
                                                        <th>Email</th>
                                                        <th>Role</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="user : ${users}">
                                                        <td th:text="${user.id}"></td>
                                                        <td th:text="${user.username}"></td>
                                                        <td th:text="${user.surname}"></td>
                                                        <td th:text="${user.age}"></td>
                                                        <td th:text="${user.email}"></td>

                                                        <td>
                                                            <span th:each="replaced : ${user.getRoles()}">
                                                                <span th:text="${replaced.getAuthority().replace('ROLE_','')}"></span>
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <button class="btn btn-info edit-btn"
                                                                    data-toggle="modal"
                                                                    th:data-target="${'#edit'+ user.id}">Edit
                                                            </button>
                                                        </td>

                                                        <td>
                                                            <button class="btn btn-danger"
                                                                    data-toggle="modal"
                                                                    th:data-target="${'#delete'+ user.id}">Delete
                                                            </button>
                                                        </td>

                                                        <!--   Edit    -->
                                                        <div class="modal fade" th:id="${'edit'+ user.id}" tabindex="-1"
                                                             role="dialog" th:aria-labelledby="${'edit'+ user.id}"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Edit user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body text-center">

                                                                        <form th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                                              th:object="${user}" method="post"
                                                                              th:id="${'editForm' + user.id}">

                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="id">ID</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       th:value="${user.id}"
                                                                                       name="id"
                                                                                       id="id"
                                                                                       readonly>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="editName">First name</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       name="username"
                                                                                       th:value="${user.username}"
                                                                                       id="editName"
                                                                                       required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="editSurname">Last name</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       name="surname"
                                                                                       th:value="${user.surname}"
                                                                                       id="editSurname"
                                                                                       required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="editAge">Age</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       name="age"
                                                                                       th:value="${user.age}"
                                                                                       id="editAge"
                                                                                       required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="editEmail">Email</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       th:value="${user.email}"
                                                                                       name="email"
                                                                                       id="editEmail"
                                                                                       required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="editPassword">Password</label>
                                                                                <input type="password"
                                                                                       class="form-control"
                                                                                       value=""
                                                                                       name="password"
                                                                                       id="editPassword"
                                                                                       required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="editRoles">Roles</label>
                                                                                <select multiple size="2"
                                                                                        class="form-control"
                                                                                        id="editRoles"
                                                                                        name="roles"
                                                                                        required>
                                                                                    <option
                                                                                            th:each="role : ${listAllRoles}"
                                                                                            th:value="${role.id}"
                                                                                            th:text="${role.name.replace('ROLE_', '')}">
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                th:form="${'editForm' + user.id}"
                                                                                class="btn btn-primary">Edit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--   Delete   -->
                                                        <div class="modal fade"
                                                             th:id="${'delete'+ user.id}"
                                                             tabindex="-1"
                                                             role="dialog"
                                                             th:aria-labelledby="${'delete'+ user.id}"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Delete user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body text-center">

                                                                        <form th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                                              th:object="${user}" method="post"
                                                                              th:id="${'delForm' + user.id}">

                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="delId">ID</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       th:value="${user.id}"
                                                                                       name="id"
                                                                                       id="delId"
                                                                                       disabled>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="delName">First name</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       name="username"
                                                                                       th:value="${user.username}"
                                                                                       id="delName"
                                                                                       disabled>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="delSurname">Last name</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       name="surname"
                                                                                       th:value="${user.surname}"
                                                                                       id="delSurname"
                                                                                       disabled>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="delAge">Age</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       name="age"
                                                                                       th:value="${user.age}"
                                                                                       id="delAge"
                                                                                       disabled>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="delEmail">Email</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       th:value="${user.email}"
                                                                                       name="email"
                                                                                       id="delEmail"
                                                                                       disabled>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="font-weight-bold"
                                                                                       for="delRoles">Roles</label>
                                                                                <select multiple size="2"
                                                                                        class="form-control"
                                                                                        id="delRoles"
                                                                                        name="roles"
                                                                                        disabled>
                                                                                    <option
                                                                                            th:each="role : ${listAllRoles}"
                                                                                            th:value="${role.id}"
                                                                                            th:text="${role.name.replace('ROLE_', '')}">
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                th:form="${'delForm' + user}"
                                                                                class="btn btn-danger">Delete
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--   New User   -->
                                <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                                    <div><h5 class="card-header">Add new user</h5>
                                        <div class="container-fluid bg-white text-center">
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4">
                                                    <form th:action="@{/admin/create}" th:object="${users}" method="post">
                                                        <div class="form-group font-weight-bold">
                                                            <br>
                                                            <label for="name">First name</label>
                                                            <input type="text"
                                                                   class="form-control"
                                                                   name="username"
                                                                   id="name"
                                                                   placeholder="First name"
                                                                   required>
                                                        </div>
                                                        <div class="form-group font-weight-bold">
                                                            <label for="name2">Last name</label>
                                                            <input type="text"
                                                                   class="form-control"
                                                                   name="surname"
                                                                   id="name2"
                                                                   placeholder="Last name"
                                                                   required>
                                                        </div>
                                                        <div class="form-group font-weight-bold">
                                                            <label for="age">Age</label>
                                                            <input type="number"
                                                                   class="form-control"
                                                                   name="age"
                                                                   id="age"
                                                                   placeholder="Age"
                                                                   required>
                                                        </div>
                                                        <div class="form-group font-weight-bold">
                                                            <label for="email">Email</label>
                                                            <input type="text"
                                                                   class="form-control"
                                                                   name="email"
                                                                   id="email"
                                                                   placeholder="Email"
                                                                   required>
                                                        </div>
                                                        <div class="form-group font-weight-bold">
                                                            <label for="password">Password</label>
                                                            <input type="password"
                                                                   class="form-control"
                                                                   name="password"
                                                                   id="password"
                                                                   placeholder="Password"
                                                                   required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold" for="roles">Roles</label>
                                                            <select multiple size="2"
                                                                    class="form-control"
                                                                    id="roles"
                                                                    name="roles"
                                                                    required>
                                                                <option
                                                                        th:each="role : ${listAllRoles}"
                                                                        th:value="${role.getId()}"
                                                                        th:text="${role.getName().replace('ROLE_', '')}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-success">
                                                                Add new user
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>