<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <title>Users List</title>
</head>
<body>
<h1>User List</h1>
<div>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Authorities</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
      <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:utext="${user.getId()}">...</a></td>
      <td th:utext="${user.getUsername()}">...</td>
      <td th:utext="${user.getPassword()}">...</td>
      <td th:utext="${user.getEmail()}">...</td>
      <td th:utext="${user.getRoles}">...</td>
      <td>
        <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
          <input type="submit" value="Edit"/>
        </a>
      </td>
      <td>
        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
  </table>
</div>
<br/><br/>
<div>
  <nobr>
    <a th:href="@{/admin/new}">Add new User</a>
  </nobr>
</div>
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>