<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Create new User </title>
</head>
<body>
<h1> Creating new User  </h1>
<a th:href="@{/admin}">Back to User List</a>
<br/><br/>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <table border="0">
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{username}" id="username"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>:</td>
            <td><input type="password" th:field="*{password}" id="password"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="text" th:field="*{email}" id="email" /></td>
        </tr>

        <form th:action="@{admin/users/new}" th:object="${user}" method="post">
            <p>
                <label>Roles:
                    <input type="checkbox" name="roles"
                           th:each="role : ${roles}"
                           th:text="${role.name}"
                           th:value="${role.id}"
                           th:field="*{roles}"
                    />
                </label>
            </p>
        </form>

    </table>
    <input type="submit" th:value="Create" />
</form>
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>