<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12 bg-dark text-white">
            <!--   Navbar   -->
            <nav class="navbar navbar-dark bg-dark">
            <span>
                <span class="navbar-text-white font-weight-bolder">
                    <span th:text="${#authentication.name}"></span>  with roles: <span
                        th:each="role : ${#authentication.authorities}"
                        th:text="${role.getAuthority().replace('ROLE_',' ')}">[ROLE_USER, ROLE_ADMIN]</span>
                </span>
            </span>
                <a class="navbar-text text-white-50 nav-link m-0" href="/logout">Logout</a>
            </nav>
        </div>
    </div>
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <!-- LEFT SIDEBAR -->
            <div class="col-2 px-lg-0 bg-white">
                <br>
                <ul class="nav nav-pills flex-column">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link active" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <div class="container secondary col-sm-10 px-0">
                <div class="col-12 bg-light vh-100">
                    <br>
                    <div><h1>User information-page</h1>
                        <br>
                        <div class="card">
                            <div class="tab-content" id="testTabContent">
                                <div class="tab-pane fade show active" id="user" role="tabpanel"
                                     aria-labelledby="user-tab">
                                    <div><h5 class="card-header">About user</h5>
                                        <br>
                                        <div class="tab-content">
                                            <div class="container-fluid">
                                                <table class="table table-striped table-condensed">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Age</th>
                                                        <th>Email</th>
                                                        <th>Role</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td th:text="${user.id}"></td>
                                                        <td th:text="${user.username}"></td>
                                                        <td th:text="${user.surname}"></td>
                                                        <td th:text="${user.age}"></td>
                                                        <td th:text="${user.email}"></td>
                                                        <td>
                                                            <span th:each="replaced : ${user.getRoles()}">
                                                                <span th:text="${replaced.getAuthority().replace('ROLE_','')}"></span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>